.App {
  text-align: center;
  align-items: center;
}

.bottom {
  text-align: center;
  padding-bottom:25px;
  padding-left:12px;
  padding-right: 12px;
}


.App-header {
  background: linear-gradient(to bottom, black 0%, #333333 35%, black 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: LimeGreen;
  font-family: "Courier New";
}

.clue1-header {
  text-align: center;
}


.clue2-header {
  text-align: center;
  background: linear-gradient(to bottom right, rgba(2,0,36,1) 0%, rgba(184,55,55,1) 35%, rgba(235,162,21,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Courier New";
  padding:80px;
}

.google-map-code {
  text-align: center;
}

.form {
  align-items: center;
}

.skip {
  align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Courier New";
}

.submission {
  text-align: center;
  padding: 20px;
}


label {
  padding:25px;
  font-family: "Courier New";
}

.message {
  font-family: "Courier New";
  color: LimeGreen;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 16px;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: "Courier New";
    font-size: 20px;
}

input[type=text]:focus {
    border: 3px solid #900c3f;
    outline: none;
}


.Button {
    padding:5px 15px;
    background: LimeGreen;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: "Courier New";
    margin-right:5px;
    margin-left:5px;
    margin-bottom: 5%;
    margin-top: 5px;
    font-size:20px;
    color: black;
    font-weight: bold;
}

.Button:hover {
  box-shadow:0px 0px 0px 2px #900c3f inset;
}

.Note {
  z-index: 3;
  margin-left: 1%;
  margin-right: 1%;
  align: center;
  background-image: url("https://media.istockphoto.com/photos/sheet-of-old-slightly-yellowed-lined-note-paper-picture-id109152001?k=20&m=109152001&s=612x612&w=0&h=kaM_JDPMmlH9HdORnzLevKqlALvvPb01vqxsfRG8O9o=");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5px;
}

.note_message {
  font-family: "Chalkduster";
  color: black;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 12px;
}

.clue {
  font-family: "Courier New";
  color: white;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.bomb {
  padding: 50%;
  text-align: center;
}

.header {
  text-align: center;
}