.App {
  text-align: center;
}

.bottomSkip {
  text-align: center;
  padding-bottom:25px;
}


.App-header {
  background: linear-gradient(to bottom, black 0%, #333333 35%, black 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
  font-family: "Courier New";
}

.clue1-header {
  text-align: center;
}

.clue2-header {
  text-align: center;
  background: linear-gradient(to bottom right, rgba(2,0,36,1) 0%, rgba(184,55,55,1) 35%, rgba(235,162,21,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Courier New";
  padding:80px;
}

.google-map-code {
  text-align: center;
}

.form {
  align-items: center;
}

.skip {
  align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Courier New";
}

.submission {
  text-align: center;
  padding: 20px;
}


label {
  padding:25px;
  font-family: "Courier New";
}



input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: "Courier New";
}

input[type=text]:focus {
    zoom: 100.5%;
    border: 3px solid #900c3f;
    outline: none;
}


.Button {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: "Courier New";
}

.Button:hover {
  box-shadow:0px 0px 0px 2px #900c3f inset;
}

